article.main-article.writing#writing(role="article", aria-labelledby="main-title-writing")
    div.row
        div.large-12.columns
            div
                h2.no-margin-bottom#main-title-writing= $i18n.articleWriting.title

                h2.subheader.no-margin-top
                    | (
                    span.click= $i18n.general.click
                    span.tap= $i18n.general.tap
                    | 
                    = $i18n.articleWriting.subtitle + ")"

            div.articles#articles
                div.article-items.row.small-up-4.spy(data-spy-class="fade-in-bottom", data-spy-offset="150")
                    div.column
                        a(href="assets/downloads/pdf/mobil-92-iphone.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/iphone.jpg", alt=$i18n.articleWriting.articleiPhone, height="160", width="117")

                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mobil-35-motorola.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/motorola.jpg", alt=$i18n.articleWriting.articleMotorola, height="160", width="119")


                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mobil-37-microsoft.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/ms.jpg", alt=$i18n.articleWriting.articleMs, height="160", width="120")

                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mreza-nokia.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/nokia.jpg", alt=$i18n.articleWriting.articleNokia, height="160", width="114")

                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mobil-37-stungun.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/stungun.jpg", alt=$i18n.articleWriting.articleStungun, height="160", width="118")

                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mobil-40-41-treo.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/treo.jpg", alt=$i18n.articleWriting.articleTreo, height="160", width="120")

                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mobil-75-usa.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/usa.jpg", alt=$i18n.articleWriting.articleUSA, height="160", width="118")

                    div.column
                        a(href=assetsUrl.local + "downloads/pdf/mobil-40-41-alcatel.pdf")
                            img.lazy(src=assetsUrl.local + "images/pixel.gif", data-lazysrc=assetsUrl.local + "images/articles/alcatel.jpg", alt=$i18n.articleWriting.articleAlcatel, height="160", width="119")
